/*html {
    background-image: linear-gradient(to right, #141e30, #243b55);
    color: white;
}*/

body {
    font-family: monospace, sans-serif;
    font-size: 16px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 2.5em;
}


.drumming-p {
    font-weight: 600;
    font-size: 1.1em;
}


.coding-text-h2 {
    font-family: 'Press Start 2P', cursive;
    font-size: 1em;
    padding-top: 20px;
}



.coding-text-p  {
    font-family: 'Press Start 2P', cursive;
    font-size: 0.75em;
   
}

/* Nav CSS */ 

.nav-container {
    /*border: 3px solid blue;*/

    display: flex;
    align-items: center;
    margin-top: 30px;
    

}

.nav-items {
    /*border: 3px solid pink;*/

    display: flex;
    list-style-type: none;
    padding: 0;
    align-items: center;
    margin: 0;
    margin-left: auto;
}

.nav-item a {
    padding: 10px;
    font-size: 1.1em;
    color: black;
    text-decoration: none;
}

.nav-item a:hover {
    color: grey;
}

.logo {
    width: 100px;
    height: auto;
    margin: 5px 10px;
}


/* About CSS */ 
.about-container {
    /*border: 2px solid red;*/

    margin-top: 50px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    padding: 50px 0;
}
.mug-shot {
    width: 300px;
    height: auto;
    border-radius: 100%;
    margin: 5px 20px;
}

/* Skills CSS */

#skills {

    /*border: 1px solid pink;*/
    /*margin-top: 30px;*/
    border-bottom: 1px solid black;
    
}

.skills-tittle, .projects-tittle, .socials-tittle {
    /*border: 1px solid pink;*/
    margin: 50px 0;
}

.skills-container {
   /* border: 2px solid red; */

    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    /*border: 1px solid blue;*/
    margin-bottom: 50px;
}

.fa-solid, .fa-brands {
    font-size: 2.5em;
}


@keyframes yourAnimation{
    0% {
        transform:  translate(0,0);
    }
    25% {
        transform:  translate(0,-20px) rotate(5deg);
    }
    50% {
        transform:  translate(0,-5px);
    }
    75% {
        transform:  translate(0,-15px) rotate(-5deg);
    }
    100% {
        transform:  translate(0,0);
    }
}

#fa-drum {
    animation: yourAnimation 3s ease-in-out 0s infinite normal none;
}

/* Projects CSS */

.projects-container {
    

    margin: 20px 0;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid black;
}



.date {
    border: 1px solid purple;
    padding: 20px;

    margin: 20px 0;    
    background-color: white;
    color: black;
    border-radius: 4px;
    transition: transform 0.2s;
}

.date:hover {
    transform: rotate(10deg);
}



#troyka-close, #strobes-close, #size-close, #oasis-close {
    display: none;
    background-color: red;
    color: antiquewhite;
    padding: 10px;
    font-weight: 600;
    border-radius: 5px;
}


.troyka-container, .strobes-container, .size-container, .oasis-container {
    display: block;
    /*border: 1px solid black;*/
    margin-top: 20px; 
    width: 560px;
    height: 315px;
    
    align-items: center;
    justify-content: center;
    justify-items: center;
    margin-bottom: 20px;
}

.troyka-container, .strobes-container, .size-container, .oasis-container {
    display: none;
   
}


#video-troyka {
    margin: auto;
}

/* Socials CSS*/

.socials-container {
    border-bottom: 1px solid black;

    margin-top: 30px;
    display: flex;
    
    align-items: center;
    justify-content: space-around;
    height: 50px;
    padding-bottom: 50px;

}


/* .socials-container a {
    border: 1px solid red;

    display: flex;
    
    align-items: center;
    justify-content: space-around;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: rgba(224, 224, 224, 0.994);
    text-decoration: none;
    box-shadow: 0 3px 0px grey;

} */




.fa-youtube {
    color: red;
    
}

.fa-twitter {
    color: blue;
    transition: transform 0.5s ;
}

.fa-twitter:hover {
    color: black;
    transform: rotate(30deg);
}

.fa-instagram {
    color: mediumvioletred;
    transition: transform 0.5s, color 0.5s;
    

}

.fa-instagram:hover {
    color: purple;
    /*padding-bottom: 20px;*/
    transform: rotate(180deg);

}






/* Footer CSS */

.footer-container {
    /*border: 3px solid blue;*/

    display: flex;
    align-items: center;
    
    justify-content: center;
    border-bottom: 1px solid black;
    padding: 30px 0;
    
}

.footer-span {
    font-family: 'Press Start 2P', cursive;
    font-size: 0.75em;
}



